.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }


}

@media(max-width: 720px) {
    .sign-in {
        width: 100%;
        margin-bottom: 3em;
    }
    .buttons {
        display: flex;
        margin: 0.5em;
        flex-direction: column;
    }
}