.collection-preview {
    display: flex;
    flex-direction: column;
    margin: 2em 3em;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media(max-width: 720px) {
    .collection-preview {
      display: flex;
      flex-direction: column;
    }
    .preview {
      width: 100%;
    }
  }
