.authenticate {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 5vw auto;
}

@media(max-width: 720px) {
    .authenticate {
        flex-direction: column;
        margin-bottom: 3em;
    }
}