.header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 2em;
  
    .logo-container {
      height: 100%;
      width: 50px;
    }
  
    .options {
      width: 70%;
      font-size: 1.1em;
      margin-top: 1.2em;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        color: #626767;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: #3b3b3b;
          font-weight: 700;
        }
      }
    }
  }